:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb
}

* {
    box-sizing:inherit ;

}
html {
    /*HACK*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Reponsive */

.grid__full-width {
    width: 100%;
}
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* Test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width:16.6667%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width:83.3334%;
}
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width:20%;
}
/* Animation */
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    
}
#modal{
    display: none;
}
.modal__overlay {
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
    
    
}

.modal__body {
    /* width: 300px;
    height: 300px; */
    background-color: var(--white-color);
    border-radius: 5px;
    margin: auto;
    position: relative;
    z-index: 1;
}

#auth-form--register {
    width: 500px;
    display: none;
    animation:headerNotifyGrowth ease-in 0.1s ;
}
#auth-form--login {
    width: 500px;
    display: none;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;


}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400 ;
    color: var(--text-color);

}
.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__form {
    margin-top: 8px;
}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline:none;
    
}
.auth-form__input:focus {
    border-color: #888;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.auth-form__aside {
    margin-top: 20px;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.5;
    padding: 0 12px;
}
.auth-form__policy-link {
    
    text-decoration: none;
    color: var(--primary-color);

}
.auth-form--exit {
    color: var(--text-color);
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
    margin-right: 4px;
    opacity: 0.6;
}
.auth-form--exit:hover i{
    
    padding: 2px 2px;
    color: var(--primary-color)
}
.btn {
    height: 32px;
    min-width: 142px;
    text-decoration: none;
    border-radius: 2px;
    border: none;
    font-size: 1.2rem;
    padding: 0;
    background-color:white;
    outline: none;
    cursor: pointer;
}
.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}
/* Select tion */
.select-input {
    min-width:180px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color:var(--white-color);
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-size: 1.2rem;
}
/* Panigation */
.panigation {
    display: flex;
    justify-content:center; 
    align-items: center;
    list-style: none;
}
.pagination-item {
    margin: 0 10px;
}
.panigation-item__link {
    --height: 30px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height:var(--height);
    border-radius: 2px;

}
.pagination-item--avtive {
    background-color: var(--primary-color);
    color: white;
}