.header{
    height: 120px;
    background-image: linear-gradient(0,#ff6533,#f63f2d );
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 8px 0 0 ;
}
.header__navbar-item {
    margin: 0 8px ;
    position: relative;
}
.header__navbar-item, .header__navbar-itme-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
}.header__navbar-item:hover, .header__navbar-itme-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item--strong {
    font-weight: 450;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid white ;
    height: 12px;
    right: -9px; 
    top: 50%;
    transform: translateY(-50%);
    
}

.header__navbar--iconlink{
    color: var(--white-color);
}
.header__navbar-itme-link i{
    margin-right: 8px ;
    font-size: 1.5rem;
}
.navbar--join:hover {
    cursor: initial ;
    color: white;
}
.header__qr::before {
    position: absolute;
    width: 100%;
    height:31px;
    top: -21px;
    content: "";
    display: block;
    

}
.header__qr {
    position: absolute;
    margin-top: 10px;
    width: 174px;
    display: none;
    animation: fadeIn ease 0.2s;
    
}
.header__qr .qr_code {
    
    width: 174px;
    border-radius: 2px;
}

.app-code img {
    
    margin-left: 10px;
    padding-top: 5px;
   
    width: 74px;

    
}
.app-code img:last-child{
     padding-bottom: 5px;
}
.app-code{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-top: -5px;
    border-radius: 2px;
}
.dowload-qr:hover  .header__qr {
    display: block;
    z-index:2 ;
}
.header__notification {
    position: absolute;
    background-color: white;
    width: 380px;
    height: 380px;
    right: 0;
    margin-top: 10px;
    border-radius: 2px;
    border: 1px solid #D3D3D3 ;
    color: black;
    display: none;
    transform-origin: top right;
    z-index: 1;
    animation: headerNotifyGrowth ease-in-out 0.3s;
}
.header__notification-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
    font-size: 1.6rem;
    color: var(--text-color);
}
.header__notification img {
   
    width: 100px;   
}

.header__notification--btn{
    display: flex;
    margin-top: -6px;
    justify-content: space-around;
}
.header__notification--btn a {
    background-color: #ecf0f1;
    padding: 10px 66px;
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    border: 1px ;
}
.header__notification--btn a:hover {
    color:rgba(234, 32, 39,0.7);
    background-color:#bdc3c7 ;
}
.notifycation-register:hover  .header__notification {
    display: block;
}
.header__notification::before {
    position: absolute;
      width:  100%; 
     
      /* background-color: #f63f2d; */
      height: 40px;
      top: -24px;
      display: block;
      content: "";
}

.header__notification::before {
     z-index: 1;
    content: "";
    border: 20px solid;
    border-color:  transparent transparent var(--white-color) transparent;
    right: 7px;
    top: -69px;
    width: 2px;
}
.auth-form__controls {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
} 
.btn--back {
    margin-right: 10px;
    background-color: var(--white-color);

}
.btn--back:hover {
    background-color: #f5f5f5;
}
.btn--disable {
    padding: 4px 36px;
    background-color: #f5f5f5 ;
    margin-top: 24px ;
    display: flex;
    justify-content: space-between;
    
}

.btn--with-icon--facebook {
    color: var(--white-color);
    background-color:#1877f2 ;
    display: flex;
    align-items: center;

}
.btn--with-icon--google {
    background-color: white;
    display: flex;
    align-items: center;

}
.auth-form-icon {
    margin-left: 8px;
    font-size: 2.5rem;
}
.auth-form-social-title {
    padding: 12px 36px;
}
.auth-form__socials {
    padding:  12px 0px;
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;

}
.auth-form__help-link {
    text-decoration: none;
    margin-left: 16px;
}
.auth-form-separate {
    margin-left: 16px;
    color: var(--border-color);
}
.auth-form__help-link--forget {
    color: var(--primary-color);
    font-weight: 500;
}
.auth-form__help-link--needhelp {
    color: var(--text-color);
    opacity: 0.8;
}
/* header search */
.header-with-search {
    position: relative;
    height: 94px;
    display: flex;
    align-items: center;
    
}
.header__logo {
    cursor: pointer;
   

}
.header__logo-img {
    width: 162px;
    margin-left: 8px ;
}
.header-search{
    height: 40px;
    flex: 1;
    background-color:white;
    margin-left: 32px;
    display: flex;
    align-items: center;

    
}
.header-cart {
    color: var(--white-color);
    width: 138px ;
    text-align: center;
    font-size: 2.4rem ;
    margin-top: 10px;
    position: relative;
    cursor: pointer;


}
.header-cart:hover .header-cart-notification {
    /* display: flex; */
}
.header-cart-notification {
    position: absolute;
    right: 35px ;
    top: 40px;
    width: 380px;
    height: 220px;
    background-color: var(--white-color);
    box-shadow: 0 0px 12px 0 rgb(0 0 0 / 15%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    display: none;

}
.header-cart-notification img {
    width: 100px;
}
.header-cart-notification p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: 16px;
    
}
.header-cart-notification::before {
    position: absolute; 
    top: -25px;
    /* background-color: #1877f2; */
    height: 32px;
    width: 100%;
    content: "";
    display: block;
}
.header-cart-notification::before {
        z-index: 1;
    content: "";
    border: 24px solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 7px;
    top: -69px;
    width: 2px;

}
.header-cart-notice {
    background-color:var(--white-color);
    color: var(--primary-color);
    position:absolute;
    padding: 0px 10px;
    line-height:1.4;
    font-size:1.2rem;
    border-radius: 10px;
    border: 3px solid var(--primary-color);
    top: -10px;
    left: 75px;
}

.header-search-input {
    
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.4rem;
    border: none;
    color: var(--text-color);
    padding: 0 16px;
    
}

.header-search-selection {
    position: relative;
    border-left: 1px solid #ccc;
    padding-left: 16px;
}

.header-search-select-label, .header-search-select-icon {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header-search-select-icon {
    color: #4a4a4a;
    margin: 0 16px;
    position: relative;
    top: 1px;
}
.header-search-btn {
    outline: none;
    border-radius: 2px;
    border: none;
    height: 34px;
    width: 60px;
    margin-right: 4px;
    background-color: #fb5630;
    color: var(--white-color);
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 100;
}
.header-search-btn:hover {
    opacity: 0.9;
}
.header-search-option {
    position: absolute;
    right: 0;
    margin-top: 14px;
    box-shadow: 0 1px 2px  #ccc;
    padding-left: 0;
    /* overflow: hidden; */
    border-radius: 2px;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    display: none;
    animation: fadeIn ease 0.1s;
    z-index: 1;
    
    
}
.header-search-selection:hover .header-search-option {
    display: block;
}
.header-seatch-option-item {
    background-color: var(--white-color);
    /* margin-top: 2px; */
    border-radius: 2px;
    list-style: none;
    width: 136px;
    height: 40px;
    text-align: center;
    padding: 12px 8px;
    
}
.header-search-option::after {
    content: "";
    
    width: 100%;
    height: 30px;
    top: -20px;
    left: 0;
    display: block;
    position: absolute;

}
.header-seatch-option-item:hover {
    background-color:rgba(236, 240, 241,1.0);
    cursor: pointer;
}
.header-seatch-option-item  span{
    color: var(--text-color);
    font-size: 1.4rem;
    margin-right: 16px;
    
}
.header-seatch-option-item i {
    color: var(--primary-color);
    font-size: 1.3rem;
}

.header-search-search-block {
    flex: 1;
    position: relative;
    
}

.header-search-suggestions-list {
     position: absolute;
     width: 100%;
     padding-left: 0;
     margin-top: 16px;
     box-shadow: 0 1px 4px 0 rgb(0 0 0 / 26%);
     border-left: none;
     display: none;
     z-index: 1;
     
}
.header-search-suggestions-item {
    
    list-style: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding:  10px 16px;
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: pointer;
    
}
.header-search-suggestions-item span {
    opacity: 0.8;
}
.header-search-suggestions-item:hover {
    background-color: #ecf0f1;
}
.header-search-input:focus ~ .header-search-suggestions-list {
    display: block;
}

.header-cart-list-item {
    position: absolute;
    padding-left: 0;
    right: 50px ;
    top: 16px;
    width: 380px;
    height: auto;
    max-height: 380px;
    background-color: var(--white-color);
    color: var(--text-color);
    box-shadow: 0 0px 12px 0 rgb(0 0 0 / 15%);
    border-radius: 2px;
    list-style: none;
    z-index: 1;
   
}
.header-cart-heading {
    opacity: 0.2;
    font-size: 1.6rem;
    margin-left: -220px;
    margin-top: 10px;
    margin-bottom:16px;
}
.header-cart-item-info{
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0px 10px;

}
.header-cart-img {
    max-width: 44px;
    max-height: 44px;
    width: 44px;
    height: 44px;
}
.header-cart-item-name {
    padding: 0 10px;
    font-size:1.6rem;
    font-weight: 400;
    margin-top: 0;
    line-height: 1.8rem;
    height:1.8rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    flex: 1;
    

}
.header-cart-item-head{
    display: flex;
    justify-content:center;
    align-items:center;
}
.header-cart-item-price {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: -22px;
    color: red;
}
.header-cart-item {
    padding: 8px 0;
    
}
.header-cart-list-item {
    display: none;
    animation: headerNotifyGrowth ease-in-out 0.1s;
}
.header-cart-item:hover {
    background-color:rgba(236, 240, 241,1.0);
}
.header-cart-list-item::before {
    position: absolute;
    top: -25px;
    right: 10px;
    z-index: 1;
    content: "";
    border: 13px solid;
    border-color: transparent transparent white transparent;
    margin-left: 343px;

}
.header-cart:hover .header-cart-list-item {
    display: block;
}
/* App container */
.app__container {
    background-color:#f5f5f5;
}
.category{
    background-color: var(--white-color);
    border-radius:2px;
}
.category__heading {
    font-size:1.6rem;
    color: var(--text-color);
    padding: 16px 16px 0px 16px;
}
.category__heading--icon {
    font-size:1.4rem;
    margin-right: 4px;
}
.category-list {
    padding-left: 0;
    list-style: none;
}
.category-item{
    position: relative;
}
.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right:16px;
}
.category-item__link {
    position: relative;
    right:0;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    display:block;
    transition: right linear 0.1s;
    font-weight: 500;

}
.category-item__link:hover {
    right: -2px;

}
.category-item__link--active {
    font-size: 1.2rem;
    color: red;
    border-top: none;

}
.category-item__link--active::before { 
    position: absolute;
    content: "";
    border: 4px solid;
    top: 50%;
    transform: translateY(-50%);
    left: 4px;
    border-color: transparent transparent transparent var(--primary-color);
}

/* Home Sort + filter */
.home-filter-app {
    padding:16px 5px 0px 5px;
}
.home-filter {
    background-color:#ededed;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__paginate {
    display: flex;
    align-items: center;
}
.home-filter__label {
    font-size:1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
    font-size:1.4rem;
}
.select-input__label {
    display: flex;
    justify-content:flex-start;
    font-size:1.4rem;

}
.select-input {
    position: relative;
}
.select-input:hover .select-input-list{
    display: block;
}
.select-input-list {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    border-radius: 2px;
    background-color:white;
    list-style: none;
    padding:  12px;
    margin-top: 2px;
    display: none;
    z-index: 1;

}
.select-input-item {
    font-size:1.4rem;
    padding:  8px 0;
}
.select-input-item:hover{
    color: var(--primary-color);
}
.home-filter__paginate {
    margin-left: auto;
    font-size:1.5rem;
    color: var(--text-color);
}
.home-filter__page-num {
    margin-right: 30px;
}
.home-filter__page-current {
    color:var(--primary-color);
}
.home-filter__page-control {
    
}
.home-filter__page-btn {
    text-decoration: none;
    color: rgba(223, 230, 233,1.0);
    background-color: white;
    padding:8px 14px;
    border-radius: 2px
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-product {
    margin-top:10px;
    margin-bottom: 60px;
}
.home-product-item {
    background-color: white;
    transition: right linear 0.1s;
    cursor: pointer;
    position: relative;
    border-bottom-left-radius: 2px ;
    border-bottom-right-radius: 2px ;
    box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.1);
    transition: top linear 0.1s;
    
}
.home-product-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: -1px;
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size:contain;
}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    margin: 8px 8px;
    line-height: 1.8rem;
    height:3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item__price {
    display: flex;
    font-size:1.8rem;
    /* justify-content: space-around; */
    align-content: flex-end;
    margin: 8px ;
    flex-wrap: wrap;

}
.home-product-item__price-old {
    font-size: 1.2rem;
    text-decoration: line-through;
    color:var(--text-color);
    opacity: 0.7;
    margin-right: 10px;
    margin-top: 2px;
    
    
}
.home-product-item__price-new {
    color: var(--primary-color)
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px ;
    font-size: 1.2rem;
    opacity: 0.8;

}
.home-product-item__rating {
    
}
.home-product-item__origin {
    display: flex;
    justify-content: flex-end; 
    margin: 8px  ;
    padding: 0 0 8px;
    font-size:1.2rem;
    color: var(--text-color);
    opacity:0.8;
    
}
.home-product-item__favourite {
    position:absolute;
    top: 10px;
    left:-4px;
    background-color:var(--primary-color);
    color:white;
    font-size:1.2rem;
    padding: 1px 4px;
    font-weight: 500;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.home-product-item__favourite::after{ 
    content: "";
    position: absolute;
    left: 0px;
    bottom: -4px;
    border-top: 4px solid var(--primary-color);
    border-left: 4px solid transparent;
    filter:brightness(60%);
}
.home-product-item__saleoff {
    position: absolute;
    right:0;
    top:0;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 216, 57, 0.9);
    text-align: center;
    display: block;
}
.home-product-item__percen {
    color:red;
    font-size:1.4rem;
    font-weight:bold;
    position:relative;
    top: 4px;
    
    
}
.home-product-item__label {
    color:white;
    font-size: 1.3rem;
    font-weight: 400;
    position:relative;
    top: 4px;
}
.home-product-item__saleoff::after{
    content: "";
    position: absolute;
    top: 36px;
    right: 0;
    border-width: 0px 18px 4px;
    border-style: solid;
    border-color:  rgba(255, 216, 57, 0.9) rgba(255, 216, 57, 0.9) transparent rgba(255, 216, 57, 0.9);
}
.panigation {
    margin-bottom: 40px;
}
/* Footer ------------------------- */
.footer {
    margin-top: 30px;
    margin-bottom: 50px;
    position: relative;
}
.footer::before{ 
    position: absolute;
    background-color: var(--primary-color);
    content: "";
    top: -32px;
    right: 0;
    left: 0;
    height: 5px;
}
.footer_heading {
    color:#737373 ;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer_logo-list {
    list-style: none;
    padding-left: 0;
}
.footer__logo-item{
    font-size: 1.2rem;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer__logo-item-icon {
    margin-right: 12px;
    font-size: 1.8rem;
    color:#737373 ;

}
.footer_description {
    color: #757575;
    font-size: 1.2rem;
    cursor: pointer;
}
.footer_description:hover {
    color: red;
}
.footer_logo {
    font-size: 1.4rem;
    color: #757575;
}
.footer_logo:hover {
    color:red;
}
.footer_app {
    display:flex;
}
.footer_app img {
    width: 100%;
}
.footer__app-dowload {
    margin-left: 20px;
}
.footer__app-qrcode img {
    border: 1px solid rgba(117, 117, 117, 0.2);
    margin-bottom: -3px;
}
.footer__app-dowload img {
   width: 80px;
   margin-bottom: 12px;
}